.card{
    width: 17rem;
    height: 16rem;
    border-radius: 15px;
    border: 2px rgb(248, 246, 246) solid;
    
    justify-self: stretch;
    position: relative;
}

.image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    opacity: 100%;
    transition: opacity 5s;
}
.card:hover {
    .right{
        width: 35px;
        height: 35px;
        border-radius:50% ;
        margin-right: 10px;
        font-weight: bold;
        background-color: rgb(245, 243, 240);
        
    }
        .right:hover{
            width: 35px;
            height: 35px;
            border-radius:50% ;
            margin-right: 10px;
            font-weight: bold;
            background-color: rgb(231, 226, 218);
            }.toggle{
                display: unset;
            }
    
        .left{
            
                width: 35px;
                height: 35px;
                border-radius:50% ;
                margin-left: 10px;
                font-weight: bold;
                background-color: rgb(245, 243, 240);
        }
        .left:hover{
            
                width: 35px;
                height: 35px;
                border-radius:50% ;
                margin-left: 10px;
                font-weight: bold;
                background-color: rgb(231, 226, 218);
        }   
}
.toggle{
    display: none;
}
.grid-container{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(17rem, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));

    gap: 15px;
    justify-content: stretch;
     align-items: stretch;
    align-content: space-between;
    margin: 45px 60px;
    
}

.grid-item {
    /* grid-auto-flow: row; */
    margin-bottom: 140px;
    
  }

.pbold{
    font-weight: bold;
    width: 70%;
    white-space: wrap;
    display: inline-block;
    /* margin-left: -15px; */
    overflow: hidden;

  
}
.pdate{
    color: rgb(100, 102, 102);
}
.pprice{
    font-weight: bold;
    margin-bottom: 20px;
}
.pstar{

    position: absolute;
    bottom: -28px;

    font-size: large;
    margin-left: 48px;

}
.star{
    position: absolute;
    width: 17px;
    height: 17px;
    left: -20px;
    top: 4px;

}
.inlineblock{
    display: inline-block;
}

.heart{
    position: absolute;
    right: 10px;
    top: 10px;
    color: rgb(235, 241, 241);
&:hover{
    color: rgb(218, 221, 221);
}}

.guestfav{
    background-color: rgb(243, 245, 247);
    position: absolute;
    top: 10px;
    left: 15px;

}
.hide{

    display: none;
}
.circle{
top: 220px;

width: 7px;
height: 7px;
background-color: aliceblue;
border: 1px solid aliceblue;
border-radius: 50%;
}
.deactivecircle{
    top: 220px;
    width: 7px;
    height: 7px;
    background-color: rgb(84, 84, 85);
    border: 1px solid rgb(84, 84, 85);
    border-radius: 50%;
}
#spn0{
     left: 120px;
     position: absolute;
}
#spn1{
    left: 130px;
    position: absolute;
}
#spn2{
    left: 140px;
    position: absolute;
}
#spn3{
    left: 150px;
    position: absolute;
    /* position: absolute; */
}
